<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Bash_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2015-07-17T13:48:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal shell bash</string>
					</array>
					<key>name</key>
					<string>Bash Shortcuts</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Bash_Shortcuts</string>
				</dict>
			</dict>
			<key>Chrome_Dev_Tools</key>
			<dict>
				<key>date</key>
				<date>2015-07-17T13:48:22Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Chrome Dev Tools</string>
					</array>
					<key>name</key>
					<string>Chrome Developer Tools</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Chrome_Dev_Tools</string>
				</dict>
			</dict>
			<key>Emoji</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T16:15:03Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Emoji</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Emoji</string>
				</dict>
			</dict>
			<key>Font_Awesome</key>
			<dict>
				<key>date</key>
				<date>2016-05-14T13:00:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Font Awesome</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Font_Awesome</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2016-02-24T15:38:35Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Sketch</key>
			<dict>
				<key>date</key>
				<date>2015-07-17T13:49:38Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Bohemian Coding Sketch.App</string>
					</array>
					<key>name</key>
					<string>Sketch</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Sketch</string>
				</dict>
			</dict>
			<key>Sublime_Text_3</key>
			<dict>
				<key>date</key>
				<date>2016-05-13T13:00:36Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Sublime Text 3</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Sublime_Text_3</string>
				</dict>
			</dict>
			<key>Unix_File_Permissions</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T16:15:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>chmod</string>
					</array>
					<key>name</key>
					<string>Unix File Permissions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Unix_File_Permissions</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2015-12-24T17:19:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T16:15:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node package manager</string>
						<string>nodejs package manager</string>
						<string>node.js package manager</string>
					</array>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>Git_Flow</key>
			<dict>
				<key>date</key>
				<date>2015-07-17T13:48:45Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Flow</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Flow</string>
				</dict>
			</dict>
			<key>Mac_Startup_Keys</key>
			<dict>
				<key>date</key>
				<date>2015-07-17T13:49:22Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>mac os x startup keys</string>
					</array>
					<key>name</key>
					<string>Mac Startup Keys</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Mac_Startup_Keys</string>
				</dict>
			</dict>
			<key>Sublime_Text_2</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T16:15:37Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Sublime Text 2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Sublime_Text_2</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>annotationsAreShown</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-13T19:26:58Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bootstrap_3.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-13T19:26:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-13T19:28:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Compass.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T15:50:40Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Emmet.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-13T19:27:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Font_Awesome.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-13T19:27:23Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Foundation.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T15:50:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Grunt.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-13T19:27:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2015-09-18T15:53:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-13T19:29:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Joomla.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T15:50:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/KnockoutJS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T16:13:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Less.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-13T19:29:31Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T15:50:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T15:50:43Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T15:50:43Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MomentJS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T15:50:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T15:50:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PHP.xml</key>
			<dict>
				<key>date</key>
				<date>2015-09-18T15:55:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/RequireJS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T15:50:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SVG.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T16:14:51Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Sass.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T15:50:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>date</key>
				<date>2015-11-25T16:45:29Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Bourbon.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T16:14:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-04-06T16:13:42Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>showSearchFallbacks</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Joomla.xml</key>
			<dict>
				<key>3.4</key>
				<dict>
					<key>date</key>
					<date>2015-07-13T19:29:25Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>5.5</key>
				<dict>
					<key>date</key>
					<date>2015-09-18T15:55:03Z</date>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
